release
build
/SwipeMenuListView/build
/WeiboSDK/build
.gradle
local.properties
gradle
target
/QSAPP/build
.settings
/library/build
.setting
.project
.classpath
.idea
.DS_Store
bin
gen
proguard
.pmd
project.properties
default.properties
gen-external-apklibs
*.iml
out
*~
_site
*/.gradletasknamecache
.gradletasknamecache
*.rb
captures
lint-report
reports
*.log
