release
/SwipeMenuListView/build/
/WeiboSDK/build/
/main/build
/OpenCV Library - 3.0.0/build
.gradle/
local.properties
gradle/
library/
/QSAPP/build/
.settings
*.iml
.project
.classpath
.idea/
bin
gen
project.properties
default.properties

