release
/build
/SwipeMenuListView/build/
/WeiboSDK/build/
/main/build
/OpenCV Library - 3.0.0/build
.gradle/
local.properties
gradle/
/QSAPP/build/
.settings
/library/build
*.iml
.project
/library/pom.xml
/OpenCV Library - 3.0.0/javadoc
/OpenCV Library - 3.0.0/lint.xml
/QSAPP/lint.xml
/QSAPP/debug.keystore
/QSAPP/doc
/QSAPP/jniLibs
/QSAPP/libs
/SwipeMenuListView/libs
/SwipeMenuListView/proguard-project.txt
/WeiboSDK/libs
/WeiboSDK/lint.xml
/WeiboSDK/proguard-project.txt
.classpath
.idea/
bin
gen
project.properties
/gradlew
/gradlew.bat
default.properties

